*~
*.tgz
*.o
*.elf
*.hex
*.lst
*.srec
*.bin
*.pyc
gen/*
.vagrant/*
boards/*.html
boards/*.json
zipcontents
tmp
benchmark/*.txt
benchmark/*.result.json
/espruino
archives/*
diffs/*
.cproject
.project
.settings
MDN_URLS.txt
node_modules
/build/
esp_iot_sdk_v1.5.0
xtensa-lx106-elf
*.c#
*.i
*.s
/targets/pic32mzef/PIC32MZ-EF-SK.X/nbproject/private/
src/cscope.out
private/
/targets/pic32mzef/wifire/Harmony-MHC/firmware/Harmony-MHC.X/nbproject/private/
